@font-face {
	font-family: "GothamPro";
	src: url("../fonts/GothamPro/GothaProReg.eot");
	src: url("../fonts/GothamPro/GothaProReg.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/GothamPro/GothaProReg.woff") format("woff"),
			 url("../fonts/GothamPro/GothaProReg.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "GothaProMed";
	src: url("../fonts/GothaProMed/GothaProMed.eot");
	src: url("../fonts/GothaProMed/GothaProMed.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/GothaProMed/GothaProMed.woff") format("woff"),
			 url("../fonts/GothaProMed/GothaProMed.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
