*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

a {
	text-decoration: none;
	color: #fff;
}

html.js .loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
html.js .loader_inner {
	background-image: url("../img/preloader.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: "GothamPro", sans-serif;
	overflow-x: hidden;
	background-color: #fff;
	margin: 0;
}
.hidden {
	display: none;
}

.wrapper {
	position: relative;
	width: 1130px;
	height: 922px;
	margin: 0 auto;
	background-image: url("../img/bg-test-2.png");
	background-repeat: no-repeat;
	z-index: 10;
}

.wrapper .wrapper_top {
	position: relative;
	width: 100%;
	height: 525px;
	-webkit-transition: all .55s;
	-o-transition: all .35s;
	transition: all .35s;
}
.wrapper .wrapper_top .navbar-top:hover {
	background-image: url("../img/bg-top.png");
	opacity: 1;
}

/* ------------------------------------------------------- TOP */
.wrapper .wrapper_top .navbar-top {
	position: relative;
	float: left;
	height: 100%;
	width: 657px;
	padding-top: 260px;
	padding-left: 200px;
	opacity: 0;
}
.wrapper .wrapper_top .navbar-top h2 {
	text-align: center;
	font-weight: bold;
	font-style: normal;
	font-size: 25px;
	color: #424242;
}
.wrapper .wrapper_top .navbar-top ul {
	padding: 0;
	margin: 0;
	margin-top: 20px;
	list-style-type: none;
	display: block;
	text-align: center;
}
.wrapper .wrapper_top .navbar-top ul li {
	display: inline-block;
	margin-left: 20px;
}
.wrapper .wrapper_top .navbar-top ul li:first-child {
	margin-left: 0;
}
.wrapper .wrapper_top .navbar-top ul li a {
	padding: 12px 35px;
	background-color: #424242;
	border-radius: 17px;
	color: #fff;
	font-weight: normal;
	font-style: normal;
	font-size: 18px;
	text-decoration: none;
	-webkit-transition: all .55s;
	-o-transition: all .35s;
	transition: all .35s;
}
.wrapper .wrapper_top .navbar-top ul li a:hover {
	background-color: #7d787a;
}
.wrapper .wrapper_top .wrapper-content {
	position: relative;
	float: right;
}
.wrapper .wrapper_top .wrapper-content .logo {
	position: relative;
	margin-top: 160px;
	margin-right: 85px;
}
.wrapper .wrapper_top .wrapper-content .corps-pick {
	position: relative;
	text-align: center;
	margin-top: 40px;
	margin-right: 75px;
	font-size: 16px;
	line-height: 16px;
	color: #9c9d9d;
}
.wrapper .wrapper_top .wrapper-content .corps-pick img {
	display: block;
	margin: 0 auto;
}


.wrapper .wrapper_bottom {
	position: relative;
	width: 100%;
	margin-top: -32px;
	margin-left: 1px;
	height: 233px;
	z-index: 1;
	-webkit-transition: all .55s;
	-o-transition: all .35s;
	transition: all .35s;
}
.wrapper .wrapper_bottom:hover {
	background-image: url("../img/bg-bottom2.png");
	background-repeat: no-repeat;
}
.wrapper .wrapper_bottom:hover .navbar-bottom {
	opacity: 1;
}
/* ------------------------------------------------------- BOTTOM */
.wrapper .wrapper_bottom .navbar-bottom {
	position: relative;
	text-align: center;
	padding-top: 35px;
	opacity: 0;
}
.wrapper .wrapper_bottom .navbar-bottom h2 {
	text-align: center;
	font-weight: bold;
	font-style: normal;
	font-size: 25px;
	color: #424242;
}
.wrapper .wrapper_bottom .navbar-bottom ul {
	padding: 0;
	margin: 0;
	margin-top: 20px;
	list-style-type: none;
	display: block;
	text-align: center;
}
.wrapper .wrapper_bottom .navbar-bottom ul li {
	display: inline-block;
	margin-left: 20px;
}
.wrapper .wrapper_bottom .navbar-bottom ul li:first-child {
	margin-left: 0;
}
.wrapper .wrapper_bottom .navbar-bottom ul li a {
	padding: 12px 35px;
	background-color: #424242;
	border-radius: 17px;
	color: #fff;
	font-weight: normal;
	font-style: normal;
	font-size: 18px;
	text-decoration: none;
	-webkit-transition: all .55s;
	-o-transition: all .35s;
	transition: all .35s;
}
.wrapper .wrapper_bottom .navbar-bottom ul li a:hover {
	background-color: #7d787a;
}

/*------------------- FOOTER*/
.wrapper .footer {
	position: relative;
	width: 100%;
	padding-top: 40px;
	margin-left: 10%;
}
.wrapper .footer .footer_col-item {
	float: left;
	position: relative;
	width: 20%;
	text-align: center;
}
.wrapper .footer .footer_col-item p {
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #acb9b9;
	margin: 0;
	margin-bottom: 2px;
}
.wrapper .footer .footer_col-item a {
	font-size: 16px;
	font-style: normal;
	color: #f0f2f5;
}
/*------------------- MAP */
.map {
	position: relative;
	width: 1130px;
	height: 420px;
	margin: 0 auto;
	margin-top: -120px;
	z-index: 1;
}


/* ------------------------------------------------------------- INDEX.HTML.2*/
header {
	position: relative;
	width: 100%;	
	height: 250px;
	background-image: url("../img/header-bg.jpg");
	background-repeat: no-repeat;
}
header .wrapper_header {
	position: relative;
	width: 1130px;
	margin: 0 auto;
	z-index: 10;
}
header .wrapper_header .header-left {
	position: relative;
	width: 50%;
	height: 250px;
	float: left;
	text-align: right;
	background-image: url("../img/header-nav-bg-left.png");
	background-repeat: no-repeat;
	background-position: top right;
}
header .wrapper_header .header-left:hover {
	background-image: url("../img/header-nav-bg-left-hover.png");
}
header .wrapper_header .header-left:hover .header_navbar-left {
	opacity: 1;
}
/* --------------------------------------------------- HEADER.NAVBAR.LEFT */
header .wrapper_header .header-left .header_navbar-left {
	position: relative;
	margin-right: 240px;
	opacity: 1;
}
header .wrapper_header .header-left .header_navbar-left h2 {
	font-family: "GothamPro", sans-serif;
	font-weight: bold;
	font-style: normal;
	font-size: 25px;
	letter-spacing: 2px;
	color: #fff;
}
header .wrapper_header .header-left .header_navbar-left ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: block;
	float: right;
}
header .wrapper_header .header-left .header_navbar-left ul li {
	margin-top: 10px;
}
header .wrapper_header .header-left .header_navbar-left ul li:first-child {
	margin-top: 0;
}
header .wrapper_header .header-left .header_navbar-left ul li a {
	display: block;
	width: 200px;
	height: 38px;
	border-radius: 17px;
	background-color: #fff;
	color: #3f3f3f;
	text-align: center;
	font-weight: normal;
	font-style: normal;
	font-size: 18px;
	line-height: 38px;
	text-decoration: none;
	-webkit-transition: all .55s;
	-o-transition: all .35s;
	transition: all .35s;
}
header .wrapper_header .header-left .header_navbar-left ul li a:hover {
	background-color: #7d787a;
	color: #fff;
}

/* --------------------------------------------------- HEADER.NAVBAR.RIGHT */
header .wrapper_header .header-right {
	position: relative;
	width: 50%;
	height: 250px;
	float: right;
	background-image: url("../img/header-nav-bg-right.png");
	background-repeat: no-repeat;
	background-position: top left;
}
header .wrapper_header .header-right:hover {
	background-image: url("../img/header-nav-bg-right-hover.png");
}
header .wrapper_header .header-right:hover .header_navbar-right{
	opacity: 1;
}
header .wrapper_header .header-right .header_navbar-right {
	position: relative;
	margin-left: 160px;
	opacity: 1;
}
header .wrapper_header .header-right .header_navbar-right h2 {
	font-family: "GothamPro", sans-serif;
	font-weight: bold;
	font-style: normal;
	font-size: 25px;
	letter-spacing: 2px;
	color: #fff;
}
header .wrapper_header .header-right .header_navbar-right ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: block;
}
header .wrapper_header .header-right .header_navbar-right ul li {
	margin-top: 10px;
	margin-left: 15px;
}
header .wrapper_header .header-right .header_navbar-right ul li:first-child {
	margin-top: 0;
}
header .wrapper_header .header-right .header_navbar-right ul li a {
	display: block;
	width: 200px;
	height: 38px;
	border-radius: 17px;
	background-color: #fff;
	color: #3f3f3f;
	text-align: center;
	font-weight: normal;
	font-style: normal;
	font-size: 18px;
	line-height: 38px;
	text-decoration: none;
	-webkit-transition: all .55s;
	-o-transition: all .35s;
	transition: all .35s;
}
header .wrapper_header .header-right .header_navbar-right ul li a:hover {
	background-color: #7d787a;
	color: #fff;
}
.wrapper-vtr {
	position: relative;
	width: 1130px;
	height: 100%;
	margin: 0 auto;
	z-index: 10;
}
.wrapper-vtr .title {
	position: relative;
	margin-top: 70px;
}
.wrapper-vtr .title h2{
	text-align: center;
	font-weight: bold;
	font-style: normal;
	font-size: 25px;
	color: #424242;
	margin: 0;
	padding: 0;
}
.wrapper-vtr .top_line-slider {
	position: relative;
	display: block;
	height: 40px;
	padding-left: 100px;
	padding-right: 50px;
	padding-bottom: 30px;
	margin-top: 30px;
}
.wrapper-vtr .top_line-slider p {
	float: left;
	padding: 0;
	margin: 0;
	font-size: 18px;
	line-height: 32px;
	font-weight: bold;
	font-style: normal;
	color: #424242;
}
.wrapper-vtr .top_line-slider span {
	float: right;
	color: #424242;
	line-height: 32px;
	margin-left: 10px;
}
.wrapper-vtr .top_line-slider img {
	float: right;
	margin-left: 20px;
}
.wrapper-vtr .top_line-slider img:first-child {
	margin-left: 0px;
}

.swiper-container {
	position: relative;
	width: 1130px;
	height: 100%;
	margin: 0 auto;
	padding-bottom: 100px;
}
.swiper-slide {
	-webkit-flex-shrink: 0;
	-ms-flex: 0 0 auto;
	flex-shrink: 0;
	width: 100%;
	height: 100%;
	position: relative;
}	
.swiper-wrapper {
	position: relative;
	cursor: pointer;
	width: 1130px;
	height: 100%;
	z-index: 1;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	-ms-transition-property: -ms-transform;
	transition-property: transform;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	opacity: 0;
}
.swiper-slide-active {
	opacity: 1;
}
.swiper-pagination {
	position: absolute;
	text-align: center;
	top: -75px;
	left: 250px;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	-webkit-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	z-index: 10;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 5px;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
	cursor: pointer;
}
.swiper-pagination-bullet-active {
	opacity: .6;
}
.swiper-pagination-bullet {
	width: 40px;
	height: 40px;
	display: inline-block;
	border-radius: 40%;
	background: #3f3f3f;
	line-height: 40px;
	color: #fff;
}
.swiper-pagination-bullet:before { 
	counter-increment: list; 
	content: counter(list); 
}
.swiper-pagination { 
	counter-reset: list; 
}


.form {
	position: relative;
	width: 915px;
	height: 240px;
	margin: 0 auto;
	background-image: url("../img/form-bg.png");
	margin-bottom: 40px;
}
.form .form_title {
	font-size: 20px;
	font-weight: bold;
	font-style: normal;
	color: #3f3f3f;
	text-align: center;
	margin: 0;
	padding: 20px 0;
}

.form form {
	position: relative;
	text-align: center;
}
.form form input {
	position: relative;
	width: 240px;
	height: 44px;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	color: #9e9e9e;
	padding-left: 20px;
	margin-left: 17px;
	outline: none;
}
.form form input:first-child {
	margin-left: 0;
}
.form form .div_submit {
	position: relative;
	margin-top: 20px;
}
.form form .div_submit .submit_button {
	width: 170px;
	height: 40px;
	background-color: #3f3f3f;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	font-style: normal;
	border: none;
	border-radius: 15px;
	cursor: pointer;
	padding: 0;
	-webkit-transition: all .55s;
	-o-transition: all .35s;
	transition: all .35s;
}
.form form .div_submit .submit_button:hover {
	background-color: #7d787a;
}

.footer_vtr {
	position: relative;
	width: 100%;
	height: 100px;
	background-color: #3e3e3e;
}
.footer_vtr .wrapper_footer {
	position: relative;
	width: 1130px;
	margin: 0 auto;
	padding-left: 100px;
	padding-top: 25px;
}
.footer_vtr .wrapper_footer .footer_col-item {
	float: left;
	position: relative;
	width: 20%;
	text-align: center;
	margin-left: 25px;
}
.footer_vtr .wrapper_footer .footer_col-item:first-child {
	margin-left: 0;
}
.footer_vtr .wrapper_footer .footer_col-item p {
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #acb9b9;
	margin: 0;
	margin-bottom: 2px;
	line-height: 0.5;
}
.footer_vtr .wrapper_footer .footer_col-item a {
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	color: #f0f2f5;
	text-decoration: none;
}




.wrapper-vtr .tabs {
	position: relative;
	margin-top: 0;
	padding-bottom: 100px;
}
.wrapper-vtr .tabs .tabs_controls {
	position: absolute;
	top: -75px;
	left: 215px;
	margin: 0;
}
.wrapper-vtr .tabs .tabs__controls-item {
	display: inline-block;
	margin-left: 10px;
	width: 40px;
	height: 40px;
	display: inline-block;
	border-radius: 40%;
	background: #3f3f3f;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
}
.wrapper-vtr .tabs .tabs__controls-item.active {
	opacity: .6;	
}
.wrapper-vtr .tabs .tabs__controls-item:first-child {
	margin-left: 0;
}
.wrapper-vtr .tabs .tabs__controls-item a {
	width: 40px;
	height: 40px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	text-align: center;
}
.wrapper-vtr .tabs .tabs__list {
	border-color: 1px dashed #ccc;
	padding: 0;
	margin: 0;
}
.wrapper-vtr .tabs .tabs__list .tabs__item {
	list-style-type: none;
	display: none;
}
.wrapper-vtr .tabs .tabs__list .tabs__item.active {
	display: block;
}
.wrapper-vtr .tabs .tabs__list .tabs__item img {
	width: 100%;
}

